#aboutSection .row{
    margin-left: 0px;
    margin-right: 0px;
}

#aboutSection button{
    display: block;
    margin: auto;
}

.aboutSectionCol {
	margin: 0 15rem;
}

@media (min-width:801px){
    #aboutSection .container .row .col-md-4{
        margin: 0 15rem;
    }
}
