#faqSection{
    margin-bottom: 5rem;
}

#faqSection .section-heading{
    padding-bottom: 0.4rem !important;
}
#faqSection .section-description{
    padding-bottom: 1rem !important;
}

#faqSection button{
    width: 100%;
    height: 100%;

    padding: 0px !important;
    margin: 0px !important;

    font-size: 1.1em;

    color: #007bff !important;
}

#faqSection .btn{
    text-transform: none;
}

#faqSection button, #faqSection button:hover{
    text-decoration: none !important;
}

#faqSection .card-header{
    background-color: transparent;
}

#faqSection .card{
    box-shadow: none;
}

#faqSection .row{
    display: block !important;
}

.rotate-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (min-width:1025px){
    #faqSection .card-body{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
