#homeSection, #contactSection{
    background-color: white;
    height: 100vh;
    width: 100%;
}

section{
    background-color: white;
}

section .container {
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;

}
section .row {
    padding-left: 8% !important;
    padding-right: 8% !important;
}

body{
    text-decoration: none;
}

.section-heading, .section-description{
    text-align: center;
}

.section-heading{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.row {
    width: 100% !important;
}
